:root {

    // couleurs

    --color--bleu:#29d9d5;
    --color--noir:#111;
    --color--blanc:#fff;
    --color--leger:#aaa;
    --color--bg:#222;
    --color--bgnoir:rgba(17,17,17,.7);
    --color--border: 0.2rem solid var(--color--bleu);

    // font family

    --font-family-poppins: 'Poppins', sans-serif;

}