.btn {

    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--color--bleu);
    border: var(--color--border);
    border-radius: 5rem;
    background: none;

    &:hover {
        background: var(--color--bleu);
        color: var(--color--noir);
    }
    
}